node_modules/
.git/
.DS_Store
*.log
*.zip
*.tar.gz
/tmp/
/cache/
/dist/
/build/
/android/app/build/
/android/.gradle/
/ios/Pods/
/ios/build/
*.mp4
*.mov
*.avi
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
*.ttf
*.otf
*.woff
*.woff2
*.eot
*.pdf
*.docx
*.xlsx
*.pptx
